# Maintained manually in this maintenance revision; regenerate with roxygen2
# before an upstream release to keep generated metadata synchronized.
export(calculateDistance)
export(generateCandidates)
export(loessFit)
export(mmappr)
export(mmapprData)
export(mmapprParam)
export(outputMmapprData)
export(peakRefinement)
export(prePeak)
export(tempOutputFolder)

exportMethods(wtFiles)
exportMethods("wtFiles<-")
exportMethods(mutFiles)
exportMethods("mutFiles<-")
exportMethods(refFasta)
exportMethods("refFasta<-")
exportMethods(gtf)
exportMethods("gtf<-")
exportMethods(outputFolder)
exportMethods("outputFolder<-")
exportMethods(includeScaffolds)
exportMethods("includeScaffolds<-")
exportMethods(minDepth)
exportMethods("minDepth<-")
exportMethods(homozygoteCutoff)
exportMethods("homozygoteCutoff<-")
exportMethods(minBaseQuality)
exportMethods("minBaseQuality<-")
exportMethods(minMapQuality)
exportMethods("minMapQuality<-")
exportMethods(fileAggregation)
exportMethods("fileAggregation<-")
exportMethods(distancePower)
exportMethods("distancePower<-")
exportMethods(peakIntervalWidth)
exportMethods("peakIntervalWidth<-")
exportMethods(loessOptResolution)
exportMethods("loessOptResolution<-")
exportMethods(loessOptCutFactor)
exportMethods("loessOptCutFactor<-")
exportMethods(maxPileupDepth)
exportMethods("maxPileupDepth<-")
exportMethods(candidateMinDepth)
exportMethods("candidateMinDepth<-")
exportMethods(candidateMinAltDepth)
exportMethods("candidateMinAltDepth<-")
exportMethods(candidateMinAltFreq)
exportMethods("candidateMinAltFreq<-")
exportMethods(candidateMaxWtAltFreq)
exportMethods("candidateMaxWtAltFreq<-")
exportMethods(candidateMinDeltaAF)
exportMethods("candidateMinDeltaAF<-")
exportMethods(peakCutoffSd)
exportMethods("peakCutoffSd<-")
exportMethods(peakCutoffMethod)
exportMethods("peakCutoffMethod<-")
exportMethods(peakIntervalMethod)
exportMethods("peakIntervalMethod<-")
exportMethods(peakResampleIterations)
exportMethods("peakResampleIterations<-")
exportMethods(randomSeed)
exportMethods("randomSeed<-")
exportMethods(pairedEnd)
exportMethods("pairedEnd<-")
exportMethods(ignoreStrand)
exportMethods("ignoreStrand<-")
exportMethods(expressionPseudocount)
exportMethods("expressionPseudocount<-")
exportMethods(param)
exportMethods("param<-")
exportMethods(snpDistance)
exportMethods(peaks)
exportMethods(candidates)

import(methods)
import(BiocParallel)
import(data.table)
import(GenomeInfoDb)
import(Rsamtools)
import(txdbmaker)
import(GenomicRanges, except = c(shift))
importFrom(Biostrings,DNAStringSet)
importFrom(IRanges,subsetByOverlaps)
importFrom(SummarizedExperiment,assays)
importFrom(VariantAnnotation,VRanges)
importFrom(VariantAnnotation,alt)
importFrom(VariantAnnotation,ref)
importFrom(VariantAnnotation,altDepth)
importFrom(VariantAnnotation,refDepth)
importFrom(VariantAnnotation,totalDepth)
importFrom(VariantAnnotation,predictCoding)
importFrom(grDevices,dev.list)
importFrom(grDevices,dev.off)
importFrom(grDevices,pdf)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,legend)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,polygon)
importFrom(stats,approxfun)
importFrom(stats,density)
importFrom(stats,loess)
importFrom(stats,median)
importFrom(stats,sd)
importFrom(stats,var)
importFrom(utils,capture.output)
importFrom(utils,head)
importFrom(utils,object.size)
importFrom(utils,sessionInfo)
importFrom(utils,tail)
